@{
    ViewData["Title"] = "Carrinho";
}
@model ECommerce.Models.ViewModels.CarrinhoViewModel

<h3>Meu Carrinho</h3>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6">
                Item
            </div>
            <div class="col-md-2 text-center">
                Preço Unitário
            </div>
            <div class="col-md-2 text-center">
                <span class="pull-right">
                    Quantidade
                </span>
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    Subtotal
                </span>

            </div>
        </div>
    </div>
    <div class="panel-body">
        @{
            foreach (var item in Model.Itens)
            {
                <div class="row row-center">
                    <div class="col-md-3">
                        <img src="~/images/camisa_@(item.Id).png" />
                    </div>
                    <div class="col-md-3">@item.Produto.Nome</div>
                    <div class="col-md-2 text-center">@item.Produto.Preco</div>
                    <div class="col-md-2 text-center">
                        <span class="pull-right">
                            @item.Quantidade
                        </span>
                    </div>
                    <div class="col-md-2">
                        <span class="pull-right">
                            R$ @item.SubTotal
                        </span>
                    </div>
                </div>
            }
        }
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                Total: @Model.Itens.Count() @(Model.Itens.Count() < 2 ? "item" : "itens")
            </div>
            <div class="col-md-2">
                <span class="pull-right">
                    R$ @Model.Total
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a asp-controller="pedido" asp-action="resumo" class="btn btn-success pull-right">Finalizar Pedido</a>
    </div>
</div>
